{% extends "base.html" %}
{% block content %}
    <audio controls id="play">
		<source src="{{ url_for('static', filename='Exile Vilify.mp3') }}" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
	
	<script>
		var player = document.getElementById("play");
		console.log(player);
		player.preload = "auto";
		player.playbackRate = 1.0;
		player.play();
		
		var timer = setInterval(switchSong, 1000);
		
		function switchSong() {
			if (self.player.ended) {
				self.player.src = "{{ url_for('static', filename='09 - Shake That - Band-Maid.mp3') }}";
				self.player.play();
			}
		}
	</script>
{% endblock %}