{% extends "base.html" %}
{% block content %}
    <audio controls id="play">
		<source src="" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
	
	<script>
		var musiclocation = "{{ url_for('static', filename='') }}";
		console.log(musiclocation);
		var songs = {{ songlist|tojson|safe }};
		var player = document.getElementById("play");
		var index = 0
		if (self.songs.length > 0) {
			self.player.src = self.musiclocation + self.songs[self.index];
			player.preload = "auto";
			player.playbackRate = 1.0;
			player.play();
			
			var timer = setInterval(switchSong, 1000);
		}
		
		function switchSong() {
			if (self.player.ended && self.index < self.songs.length - 1) {
				self.player.src = self.musiclocation + self.songs[++index];
				self.player.play();
			}
		}
	</script>
{% endblock %}